@media screen and (min-width: 768px) {
  body {
    overflow: hidden;
  }

  main {
    position: relative;
  }

  #cards {
    position: absolute;
    bottom: 0;
    background: none;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 3px;
    padding: 0;
    margin: 0;
  }

  .card {
    position: relative;
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
  }

  .card1 {
    transform: rotateZ(-26deg) translateY(75px);
    margin-right: 7px;
  }
  .card2 {
    transform: rotateZ(-12deg) translateY(20px);
    margin-right: -2px;
  }
  .card3 {
    z-index: 2;
  }
  .card4 {
    transform: rotateZ(12deg) translateY(20px);
    z-index: 1;
    margin-left: -2px;
  }
  .card5 {
    transform: rotateZ(26deg) translateY(75px);
    margin-left: 7px;
  }

  .card1:hover {
    transform: rotateZ(-26deg) translateY(35px);
    transition: transform 0.3s ease;
  }
  .card2:hover {
    transform: rotateZ(-12deg) translateY(-15px);
    transition: transform 0.3s ease;
  }
  .card3:hover {
    transform: translateY(-30px);
    transition: transform 0.3s ease;
  }

  .card4:hover {
    transform: rotateZ(12deg) translateY(-15px);
    transition: transform 0.3s ease;
  }
  .card5:hover {
    transform: rotateZ(26deg) translateY(35px);
    transition: transform 0.3s ease;
  }

  .card img {
    width: 70px;
    height: 70px;
  }

  .card h3,
  .card span {
    font-size: 1em;
  }

  .verperfil {
    font-size: 0.9em;
    height: 2em;
    margin: 0;
  }

  html,
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
