@media screen and (min-width: 768px) {
  body {
    overflow-y: hidden;
  }

  #cards {
    position: absolute;
    bottom: 0;
    background: none;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
  }

  .card {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .card img {
    width: 70px;
    height: 70px;
  }

  .card h3,
  .card span {
    font-size: 1em;
  }

  .verperfil {
    font-size: 0.9em;
    height: 2em;
    margin: 0;
  }
}
